<% provide :title, t(".title") %>
<h1><%= t ".title"%></h1>
<p>
  <%= t ".str1_html", href: link_to(t(".str4"), t("url.help_page")) %>.
  <%= t ".str2_html", href: link_to(t(".str3"), t("url.book_page"))%>
</p>
